.about-us{
    background-color: #22252C;
    color: #ecf0f1;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 400px;

    h3{
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        margin-bottom: 30px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }


}
