footer{
	background-color: #22252C;
	min-height:200px;
	padding-top:60px;
	position: relative;
	width:100%;
  z-index:-2;
}

footer .container{
	position:fixed;
    z-index:-1;
    bottom:75px;
    width:100%;
}

footer .social ul{
	margin-bottom: 35px;

}


footer .menu li a{
	font-family:Roboto;
	color:#b1aca1;
	padding:10px;
	text-decoration:none;


}

footer .menu li a:hover{
	color:#7dabdb;
}

footer .social a{
	color:#b1aca1;
	font-size:0.8em;
	padding:10px;
	padding-top: 0;
	margin-bottom:50px;
	transition: color 0.2s linear;

}

footer .social a:hover{
	color:#6794c2;
}
