@font-face {
	font-family: "Bebas";
	src: url("../fonts/BebasNeue Regular.otf");
}

.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
	font-family: "Bebas";
}
.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

@media (min-width: 1024px) {
	.marketing h2 {
		min-height: 105px;
	}
}
