.navbar{
    margin-bottom: 0 !important;
    width:100%;
    z-index: 100;
    text-transform: uppercase;

    ul.nav a{
        padding-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    transition: background-color 0.3s linear;
}

.navbar-inverse{
    background-color: #55d6aa;
}






@media (min-width:767px){
    .navbar-transparent{
        background-color: rgba(51, 51, 51, 0);
    }
}
