.carousel {
  height: 500px;
  overflow: hidden; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 20; }
  .carousel-caption h1 {
    font-weight: 400; }
  .carousel-caption p {
    font-weight: 500; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777; }

.carousel-inner > .item > img {
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: unset; }

.portrait {
  height: 100% !important;
  left: 50% !important;
  transform: translateX(-50%); }

.landscape {
  width: 100% !important;
  top: 0% !important;
  transform: translateY(-25%); }

.carousel-caption p,
.carousel-caption h1 {
  font-weight: 600; }

.overlay {
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  opacity: .25; }

.navbar {
  margin-bottom: 0 !important;
  width: 100%;
  z-index: 100;
  min-height: 49px;
  transition: background-color 0.3s linear; }
  .navbar ul.nav a {
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; }

.navbar-inverse {
  background-color: #212121; }

.brand-img {
  height: 40px;
  position: absolute;
  top: 5px; }

.brand-text {
  margin-left: 46px;
  line-height: 1.38; }

@media (min-width: 767px) {
  .navbar-transparent {
    background-color: rgba(51, 51, 51, 0); } }

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px; }

@media (min-width: 1024px) {
  .marketing h2 {
    min-height: 105px; } }

.registration-alert {
  text-align: center; }

span.countdownTarget {
  text-decoration: none !important; }

.about-us {
  background-color: #2c3e50;
  color: #ecf0f1;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 400px; }
  .about-us h3 {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px; }
  .about-us p {
    font-family: 'Open Sans', sans-serif;
    text-align: center; }

#preparation h3 {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  margin-bottom: 30px; }

#preparation h4 {
  text-transform: uppercase;
  font-family: 'Open Sans' ,sans-serif;
  font-weight: 400; }

#preparation h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

@media (max-width: 1024px) {
  #preparation .topic {
    margin-bottom: 75px; } }

@media (min-width: 1024px) {
  #preparation h4 {
    min-height: 80px; } }

#contact {
  z-index: 10;
  background-color: #fff;
  text-transform: uppercase; }
  #contact h1 {
    padding-bottom: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 26px; }
  #contact a:hover {
    text-decoration: none; }
  #contact h2 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase; }
  #contact h3 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    text-transform: uppercase; }

.map {
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  height: 100%; }

@media (max-height: 767px) {
  .map {
    min-width: unset; } }

footer {
  background-color: #222222;
  min-height: 200px;
  padding-top: 60px;
  position: relative;
  width: 100%;
  z-index: -2; }

footer .container {
  position: fixed;
  z-index: -1;
  bottom: 75px;
  width: 100%; }

footer .social ul {
  margin-bottom: 35px; }

footer .menu li a {
  font-family: Roboto;
  color: #b1aca1;
  padding: 10px;
  text-decoration: none; }

footer .menu li a:hover {
  color: #7dabdb; }

footer .social a {
  color: #b1aca1;
  font-size: 0.8em;
  padding: 10px;
  padding-top: 0;
  margin-bottom: 50px;
  transition: color 0.2s linear; }

footer .social a:hover {
  color: #6794c2; }

footer .copyright {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -53px; }

.sponsors {
  z-index: 10;
  background-color: #fff; }
  .sponsors .sponsor-img {
    width: 100%; }
  .sponsors .img-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px; }

@media (max-width: 1024px) {
  .sponsors .img-container {
    margin-top: 25px; } }

.letter p {
  font-family: 'Open Sans', sans-serif; }

body {
  z-index: 0;
  position: relative; }

#wrapper {
  z-index: 2;
  overflow: hidden;
  width: 100%;
  padding-bottom: 150px;
  transition: all 0.5s;
  background-color: #fff; }
