.carousel {
  height: 500px; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777; }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px; }

.navbar {
  margin-bottom: 0 !important;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s linear; }
  .navbar ul.nav a {
    padding-top: 15px; }

.navbar-inverse {
  background-color: #34495e; }

@media (min-width: 767px) {
  .navbar-transparent {
    background-color: rgba(51, 51, 51, 0); } }

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px; }

.registration-alert {
  text-align: center; }

span.countdownTarget {
  text-decoration: none !important; }
